@import '../../global.scss';

.portfolio {
    background-color: $mainColor;
    display: flex;
    justify-content: center;
    align-items: center;   
    position: relative; 

    .arrow{
        height: 5%; //size of arrow
        position: absolute;
        cursor: pointer;
        opacity: 1;
        visibility: visible;
        transition: all 0.5s ease-in-out;

        &.left{
            left: 4%;
            transform: rotate(180deg);
        }
        &.right{
            right: 4%;
        }
        &.active{   //hide arrows when playing a video
            opacity: 0;
            visibility: hidden;
            transition: all 0.5s ease-in-out;
        }

    }

    .slider-container{      //Houses everything for the slider, where we set position of the 'slide'
        width: 300vw;       //Must be the width of all the slides put together
        height: 100%;
        display: flex;
        position: absolute;
        left: 0;
        transition: all 0.5s ease-in-out;        

        .slide {    //Individual 'slide'
            width: 100vw;
            display: flex;
            align-items: center;
            justify-content: center;
            padding-top: calc(75vh / 60vw * 100%);  //For maintaining aspect ratio
            transition: all 0.5s ease-in-out;
    
            .video-container{
                width: 60vw;
                height: 75vh;
                background-color: black;
                border: solid 3px white;
                border-radius: 30px;
                transition: all 0.5s ease-in-out; 
        
                &.active{
                    width: 80vw;
                    height: 99%;        //Workaround to remove scrollbar that comes up from height: 100%
                    margin: auto auto;
                    border: solid 3px black;
                    transition: all 0.5s ease-in-out; 
                }
        
            }
    
            //When the current slide is 'active'
            &.active{
                background-color: black;
                transition: all 0.5s ease-in-out; 
            }
        }

    }
}