@import '../../global.scss';

.homePage {
    background-color: $bgColor;
    display: flex;

    .left{
        flex: 0.45;
        overflow: hidden;
        // background-color: aqua;

        .imgContainer{
            width: 50vw;
            height: 100vh;
            margin-top: 15vh;
            margin-right: 4vw;
            background-color: $accentColor;
            // border: solid 3px $mainColor;
            border-radius: 50%;
            display: flex;
            align-items: flex-end; 
            justify-content: center;
            float: right;

            img{
                height: 65%;
                margin-bottom: 20vh;
            }
        }
    }

    .right{
        flex: 0.55;
        overflow: hidden;

        .wrapper{
            width: 100%;
            height: 100%;
            color: $mainColor;
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-top: 29vh;
            font-size: 20px;
            
            #after{ //legend
                padding-top: 1vh;
            }

            span{
                color: $accentColor;
                font-size: 70px;
                align-self: center;
                position: relative;
            }

            .ityped-cursor {
                opacity: 1;
                color: $accentColor;
                -webkit-animation: blink .5s infinite;
                -moz-animation: blink .5s infinite;
                animation: blink .5s infinite;
                animation-direction: alternate;
            }
             
            @keyframes blink {
                100% {
                    opacity: 0;
                }
            }
             
            @-webkit-keyframes blink {
                100% {
                    opacity: 0;
                }
            }
             
            @-moz-keyframes blink {
                100% {
                    opacity: 0;
                }
            }
        }
    }
}

@media screen and (min-width: 1921px) {
    //If screen is bigger than 1080p, resize the font
    .homePage .right .wrapper{
        font-size: 40px;
        span{
            font-size: 100px;
        }
    }
}