@import "../../global.scss";

.navbar {
    width: 100%;
    height: 70px;
    background-color: $bgColor;
    color: $mainColor;
    position: fixed; 
    top: 0; 
    border-bottom-style: solid;
    border-color: $mainColor;
    transition: all 0.5s ease-in-out; 

    //Make it more of a priority than other components
    z-index: 2;

    .wrapper {
        padding: 0px 30px;
        height: 90%;
        display: flex;
        align-items: center;
        justify-content: space-between;

        //Content on Left side of NavBar
        .left{
            display: flex;
            align-items: center;

            .home{  //'creo.'
                font-size: 50px;
                font-style: italic;
                font-weight: 800;
                text-decoration: none;
                color: inherit;
            }
        }

        //Content in middle of NavBar
        .middle{
            
            .links{
                margin-right: 10px;
                font-size: 20px;
                text-decoration: none;
                color: inherit;

                overflow: hidden;
            }

            //Line under the links when hovering over it
            a {
                padding:1px 6px;
                display:inline-block;
                position:relative;

                //Remove scrollbar
                scrollbar-width: none;  //for firefox browser
                &::-webkit-scrollbar{   //for other browsers
                display: none;
                }
            }
            a:after{
                position:absolute;
                left:50%;
                height:4px;
                bottom:-2px;
                width:0%;
                background-color: $mainColor;
                display:block;
                content:'';
                transition: .4s ease-in-out;
            }
            a:hover:after{
                left:0;
                width:100%;
            }

            &.active{
                //Line under the links when hovering over it
                a {
                    padding:1px 6px;
                    display:inline-block;
                    position:relative;
                }
                a:after{
                    position:absolute;
                    left:50%;
                    height:4px;
                    bottom:-2px;
                    width:0%;
                    background-color: $bgColor;
                    display:block;
                    content:'';
                    transition: .4s ease-in-out;
                }
                a:hover:after{
                    left:0;
                    width:100%;
                }
            }
        }

        //Content on Right side of NavBar
        .right{
            display: inline-flex;

            .icon{  //twitch and steam icons
                width: 30px;
                height: 30px;
                display: inherit;
                justify-content: center;
                align-items: center;
                margin-right: 10px;

                //For changing the SVG inline fill color dynamically
                #iconMain{
                    fill: $mainColor;
                    transition: all 0.5s ease-in-out; 

                }
                #iconBg{
                    fill: $bgColor;
                    transition: all 0.5s ease-in-out; 

                }

            }

            &.active{
                .icon{  //twitch and steam icons
                    width: 30px;
                    height: 30px;
                    display: inherit;
                    justify-content: center;
                    align-items: center;
                    margin-right: 10px;
    
                    //For changing the SVG inline fill color dynamically
                    #iconMain{
                        fill: $bgColor;
                        transition: all 0.5s ease-in-out; 

                    }
                    #iconBg{
                        fill: $mainColor;
                        transition: all 0.5s ease-in-out; 

                    }
    
                }
            }
        }
    }

    //navbar active (changes color of bg and text)
    &.active{
        background-color: $mainColor;
        color: $bgColor;
        border-bottom-style: solid;
        border-color: $bgColor;   
        transition: all 0.5s ease-in-out; 
    }

}