@import "../../global.scss";

.navbar {
    width: 100%;
    height: 70px;
    background-color: white;
    color: $mainColor;
    position: fixed; 
    top: 0; 

    //Make it more of a priority than other components
    z-index: 2;

    .wrapper {
        padding: 10px 30px;
        display: flex;
        align-items: center;
        justify-content: space-between;

        //Content on Left side of NavBar
        .left{
            display: flex;
            align-items: center;

            .home{
                font-size: 40px;
                font-weight: 700;
                text-decoration: none;
                color: inherit;
            }
        }

        .right{
            display: inline-flex;
        }
    }
}