$mainColor: #535756;
$bgColor: #ffffff;
$accentColor: #fdd947;

// $mainColor: #535756;
// $secondaryColor: #202527;
// $compColor: #ffffff;

// $mainColor: #444444;
// $secondaryColor: #d5d5d3;
// $accentColor: #fdd947;

//black (for bg) + white (for text) also